name: beny_romance
description: "A new Flutter project."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.2.3 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.6
  url_launcher: ^6.2.6
  audioplayers: ^6.5.1
  path_provider: ^2.1.5
  dio: ^5.9.1
  speech_to_text: ^7.3.0
  permission_handler: ^12.0.1
  flutter_secure_storage: ^10.0.0
  cryptography: ^2.9.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/
    - assets/sounds/
